/* reset */
form {
    margin-bottom : 0;
}
/* end reset */



html {
  background : #f7f7f7;
}
body {
  font-family : arial;
  padding : 0;
  margin : 0
}
main {
  width : 600px;
  margin : auto;
  margin-top : 25px;
  padding : 25px;
  background : white;
  border : 1px solid #ccc;
}
h1, h2, h3, h4, h5 {
  color : red;
  text-decoration : underline;
  word-break: break-all;
}
input:not([type="radio"]) {
    display : block;
    width : 100%;
    padding : 10px;
    transition : background .5s, color .5s;
    border: 1px solid #ccc;
}

select {
    background : transparent;
    display : block;
    width : 100%;
    padding : 9px; /* ew */
}
section h1 {
  text-align : center;
}
article h1 {
  text-align : initial;
}
a {
  color : #aaa;
  display : block;
  text-decoration : underline;
  transition : color .5s;
}
a:hover{
  color : red;
}
/* basic grid system with flex*/
.columns {
    display : flex;
}

.columns:only-of-type {
    margin-bottom : 25px;
}
/* remove bottom margins from nested .columns */
.columns .columns {
    margin-bottom :0;
}
.columns + .columns {
    margin-top : 25px;
}
.columns + .columns h1,
.columns + .columns h2,
.columns + .columns h3,
.columns + .columns h4,
.columns + .columns h5 {
    margin-top : 0;
}
.column {
    flex : 1;
}
.column + .column {
    margin-left : 25px;
}
.nav-back {
    background : red;
    color : white;
    padding : 5px;
    text-align : center;
    text-decoration : none;
    font-size : 20px;
    transition : none;
}
.nav-back:hover {
    color : #fff;
}
