html {
  background : #f7f7f7;
}
body {
  padding : 0;
  margin : 0
}
h1 {
  color : red;
  text-decoration : underline;
}
input {
    display : block;
    width : 100%;
    padding : 10px;
    transition : background .5s, color .5s;
    border: 1px solid #ccc;
}
section h1 {
  text-align : center;
}
article h1 {
  text-align : initial;
}
.wrapper {
  font-family : arial;
  width : 600px;
  margin : auto;
  margin-top : 25px;
  padding : 25px;
  background : white;
  border : 1px solid #ccc;
}
a {
  color : #aaa;
  display : block;
  text-decoration : underline;
  transition : color .5s;
}
a:hover{
  color : red;
}

.validation-one input:invalid {
    color : red;
}
.validation-one input:valid {
    color : #000
}

.validation-two input:invalid {
    background : #ffcbcb;
}
.validation-two input:valid {
    background : #cffdcf;
}
</style>
