/* reset */
* {
    box-sizing: border-box;
}
form {
    margin-bottom: 0;
}
body {
    margin: 0;
    padding: 0
}
/* end reset */

html {
  background : #f7f7f7;
  font-family : arial;
  min-height : 100%;
  position : relative;
}
body {
  width : 600px;
  margin : auto;
}
main {
  display : block; /* hack for ie because it's wank */
  margin-top : 25px;
}
header {
    text-align : center;
    text-decoration : none;
    font-size : 20px;
    transition : none;
    padding : 5px;
    background : red;
}
header a {
    display : inline-block;
    color : white;
}
header a:hover {
    color : #fff;
}
footer {
    margin-top: 25px;
    text-align:right
}
footer a {
    color: red;
    display: inline-block;
}
footer a + a {
    margin-left: 5px;
}
h1, h2, h3, h4, h5 {
  color: red;
  text-decoration: underline;
  word-break: break-all;
}
input:not([type="radio"]):not([type="checkbox"]) {
    display : block;
    width : 100%;
    padding : 10px;
    transition : background .5s, color .5s;
    border: 1px solid #ccc;
}
textarea {
    width: 100%;
    min-height: 100px;
}
select {
    background : transparent;
    display : block;
    width : 100%;
    padding : 9px; /* ew */
}
label {
    display : inline-block;
    padding : 5px;
    border : 1px solid;
    border-color : #ccc;
    transition : border-color .5s;
}
label:hover {
    border-color : red;
}
label + label {
    margin-top : 25px;
}
section h1 {
  text-align : center;
}
article h1 {
  text-align : initial;
}
a {
  color : #aaa;
  display : block;
  text-decoration : underline;
  transition : color .5s;
}
a:hover{
  color : red;
}
