/* reset */
form {
    margin-bottom : 0;
}
/* end reset */

html {
  background : #f7f7f7;
  font-family : arial;
  min-height : 100%;
  position : relative;
}
body {
  padding : 0;
  margin : 0;
  margin-bottom : 50px; /* Offsets our footer */
}
main {
  display : block; /* hack for ie because it's wank */
  width : 600px;
  margin : auto;
  margin-top : 25px;
  margin-bottom : 93px; /* 68px to offset the footer and 25 for spacing */
}
header {
    text-align : center;
    text-decoration : none;
    font-size : 20px;
    transition : none;
    padding : 5px;
    background : red;
}
footer a,
header a {
    display : inline-block;
    color : white;
}
footer a:hover,
header a:hover {
    color : #fff;
}
footer {
    box-sizing : border-box;
    background : red;
    color : #fff;
    padding : 25px;
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
}
footer div {
    text-align : right;
}
footer a + a {
    margin-left : 5px;
}
h1, h2, h3, h4, h5 {
  color : red;
  text-decoration : underline;
  word-break: break-all;
}
input:not([type="radio"]) {
    display : block;
    width : 100%;
    padding : 10px;
    transition : background .5s, color .5s;
    border: 1px solid #ccc;
}

select {
    background : transparent;
    display : block;
    width : 100%;
    padding : 9px; /* ew */
}
section h1 {
  text-align : center;
}
article h1 {
  text-align : initial;
}
a {
  color : #aaa;
  display : block;
  text-decoration : underline;
  transition : color .5s;
}
a:hover{
  color : red;
}
