.columns {
    display : flex;
}
/* Give a margin bottom to the only columns on the page
 * but only if it's not the last element. Otherwise,
 * we'd get a stray margin bottom fucking things up.
 */
.columns:only-of-type:not(:last-child) {
    margin-bottom : 25px;
}
.columns .columns {
    margin-bottom :0;
}
.columns + .columns {
    margin-top : 25px;
}
.columns + .columns h1,
.columns + .columns h2,
.columns + .columns h3,
.columns + .columns h4,
.columns + .columns h5 {
    margin-top : 0;
}
.column {
    flex : 1;
}
.column + .column {
    margin-left : 25px;
}
