html {
  background: #f7f7f7;
  font-family: arial;
}
body {
  width : 800px;
  margin : auto;
}
main {
  background: white;
  border : 1px solid #ccc;
  margin-top : 25px;
  padding : 25px;
}
h1, h2, h3 {
  color : red;
  text-decoration: underline;
}
input {
  display :block;
  width : 100%;
  padding : 10px;
}
section + section {
  margin-top: 25px;
}

table {
  width : 100%;
  border : 1px solid #ccc;
  border-collapse: collapse;

}
th {
  padding : 5px;
  text-align: left;
}
th + th {
  border-left : 1px solid #ccc;
}
td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding : 5px;
}
input[type="submit"] {
  margin-top : 25px;
  border : none;
  background : red;
  color : #fff;
}
input[type="submit"]:hover {
  animation: rainbow .1s infinite alternate linear;
}
.match {
    display : inline-block;
    padding : 5px;
    border : 1px solid #ccc;
}
.match + .match {
    margin-top : 25px;
}
.highlight {
    color : red;
    text-decoration : underline;
}
.debug {
    border : 1px solid black;
    padding : 25px;
    background: #f3f3f3;
    font-family : monospace;
}

@keyframes rainbow {
  0%   {
    background-color:  red;
    height : 30px;
  }
  10%  {
    background-color:  pink;
    height : 40px;
  }
  20%  {
    background-color:  blue;
    height : 50px;
  }
  30%  {
    background-color:  green
    height : 60px;
  }
  100% {
    background-color:  yellow;
    height : 70px;
  }
}
